
.swiper-scrollbar{
  display: none;
}

.swiper-slide>img,.swiper-slide>video{
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

/*//VideoWrapper code ot make youtube video responsive.*/
.videoWrapper {
	position: relative;
	padding-bottom: 48%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.status.Box{
  background: black;
}

/*make Pagination dot black, not blue*/
.swiper-pagination-bullet-active{
  background: black;
}

/*.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: -4px 5px;
}*/
