
/*//Custom Bootstrap behavior on small screens*/
@media (max-width: 768px) {

  /*Center the menu button in collapsed navbar*/
  .navbar-header{
    text-align:center;
  }
  .navbar-toggle {
    float: none;
    border: none;
  }

  /*Added to get navbar to shrink now - need .navbar-toggle to include collapsed version.
  http://stackoverflow.com/questions/18599778/decreasing-height-of-bootstrap-3-0-navbar*/
  .navbar-nav > li > a, .navbar-toggle {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      height: 25px;
  }
  .navbar { min-height:20px !important;}

  /*Make text large on mobile device sized windows*/
  .navbar,.dropdown-menu {
    font-size: 18px;
  }
} /*@media max-width:768px;*/

/*Regular CSS for whole site*/
body,html{
  font-family: Montserrat;
  text-align: center;
  height: 100%;
}

.infoBar{
  position: absolute;
  bottom:0; left:0;
  float: left;
}

.wrap{
  min-height: 98.5%;
  padding-bottom: 20px;
}

.paragraph{
  /*max-width: 700px;*/
  /*margin: auto;*/
  /*padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;*/
  /*text-align: left;*/
  text-indent: 15px;
}

a.contactLink{
  text-decoration: underline;
  font-size: 1.5em;
}

.aboutImg{
  /*width: 100%;*/
  /*max-width: 900px;*/
}
