
/*//Custom Bootstrap behavior on small screens*/
@media (max-width: 768px) {

  /*Center the menu button in collapsed navbar*/
  .navbar-header{
    text-align:center;
  }
  .navbar-toggle {
    float: none;
    border: none;
  }

  /*Added to get navbar to shrink now - need .navbar-toggle to include collapsed version.
  http://stackoverflow.com/questions/18599778/decreasing-height-of-bootstrap-3-0-navbar*/
  .navbar-nav > li > a, .navbar-toggle {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      height: 25px;
  }
  .navbar { min-height:20px !important;}

  /*Make text large on mobile device sized windows*/
  .navbar,.dropdown-menu {
    font-size: 18px;
  }
} /*@media max-width:768px;*/

/*Regular CSS for whole site*/
body{
  font-family: Montserrat;
  text-align: center;
}

.infoBar{
  position: absolute;
  bottom:0; left:0;
  float: left;
  z-index: 99999;
  background: white;
}
