html{  background-image:  url("img/background.jpg");}

body {
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

img {
  max-width:450px;
  max-height:450px;
  /*width: auto;
  height: auto;*/
  border: 5px solid white;
}

.fixed {
  position: fixed;
  width: 100%;
  background-color: white;
  word-spacing: 50px;
}

.navbarNoSpacing{word-spacing: normal;}

.navbar {background: white;}


a.navbar:link {    color: black;}
a.navbar:visited {    color: black;}
a.navbar:hover {    color: gray;}
a.navbar:active {    color: black;}

a:link {color: white;}
a:visited {color: white;}
a:hover {    color: gray;}
a:active {    color: white;}

h1 {
  font-weight: bold;
  font-size: 5em;
  letter-spacing: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2  { background-image: linear-gradient(to right, rgba(0 , 0,0, 0), rgba(0,0,0, 1), rgba(0, 0, 0, 0));}

h2.title  {
  color:black;
  margin-top: 0px;
  background-image: linear-gradient(to right, rgba(255 , 255,255, 0), rgba(255,255,255, 0.75), rgba(255, 255, 255, 0));}

hr {
    border: 0;
    height: 10px;
    color:white;
    background-image: linear-gradient(to right, rgba(255 , 255,255, 0), rgba(255,255,255, 0.75), rgba(255, 255, 255, 0));
}

.logo { border: none;}
.smallLogo{
  width: 100px;
  padding-top: 25px;
}

.textPic {
  border: none;
  border-radius: 25px;
  width: 20%;
}

.paragraph {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  padding: 15px;
  width: 50%;
  max-width: 700px;
  font-size: 1.3em;
  letter-spacing: .2em;
  margin: auto;
}

.rightWithMargin {
  float: right;
  margin-right: 15%;
}

.leftWithMargin {
  float: left;
  margin-left: 15%;
}

.left{  float: left;}
.right{float: right;}

.legalPricing {
  overflow: auto;
  width: 100%;
}

/*This moves the anchor tags upslightly so the header doesn't block things.*/
.anchor {
    display: block;
     position: relative;
     top: -20px;
     visibility: hidden;
   }

.soloImg {
  max-width: none;
  max-width: 98%;
  max-height: 100%;
  margin: 0;
}
